@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: "Jost", sans-serif;
    color: #292F36;
}


body {
    color: #292F36;
}

li {
    list-style: none;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-size: 75px;

}

h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 50px;
    margin-bottom: 20px;
}

h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 22px;
    margin-bottom: 20px;
}

p {
    font-family: "Jost", sans-serif;
    font-size: 12px;
}
/* debut des flexbox */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.gap20 {
    gap: 20px;
}

/*fin des flexbox */

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;

}

.btn {
    border-radius: 18px;
    background-color: #292F36;
    padding: 26px 31px;
    color: white;
    width: 320px;
    height: 80px;
    display: inline-block;
    margin-top: 40px;
    font-size: 1.3rem;
}

.width30 {
    width: 30%;
}

.width45 {
    width: 45%;
}

.paddingTop80 {
    padding-top: 80px;
}

.textCenter {
    text-align: center;
}





/*header*/
.logo {
    width: 200px;
}

.menu {
    width: 30%;
}

.top20 {
    margin-top: 20px;
}

header: {
    margin-top: 20px;
}


/*section hero*/

.hero {
    background-image: url("asset/Banner.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0 0 0 200px;
    padding-top: 100px;
}

.pHero {
    font-size: 22px;
    margin-top: 40px;
}

.margin {
    margin-top: auto;
    align-items: center;
}

.taille {
    padding: 80px;
    justify-content: center;
    ;
}

/* SECTION DEVIS */


.imageSectionDevis {
    border-radius: 0 220px 0 100px;
}

.pSectionDevis {
    margin-bottom: 20px;
}

.iconAppel {
    width: 25px;
}